a { color: #4B58A6; }
a:hover { color: #4B58A6; }
/*
body {
    background-image: url("../images/Latin-background.png");
}
*/
#map_canvas img {
  max-width: none;
}

.filter-box {
  height: 15px;
  width: 15px;
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}

/* customizations for iframe template */
.iframe #map_canvas { height: 500px; }
.iframe .well { margin-bottom: 5px; }
.iframe .alert { margin-top: 5px; }

.navbar {
    min-height: 50px;
    background-color: #fff;
}

.navbar-brand {
    padding: 0 30px 0 10px;
    margin: 0;
}

.navbar-default ul.navbar-nav li a:hover {
    text-decoration: underline;
}

.latinorebels {
    padding: 0 10px;
    margin: 0;
}

/* Begin filters css */
.filters-address {
  align-items:center;
  display: flex;
}
.filters-addressField {
  flex: 1 0 0%;
}
.filters-addressWithin {
  flex: 0 0 auto;
  margin-left:3px;
}

.filters-advanced {
  background-color:rgba(255, 255, 255, 0.8);
  border-radius:3px;
  margin-bottom:10px;
  padding:10px;
}

.filters-advancedTitle {
  text-align:center;
}

.toggle-advanced {
  margin-bottom:10px;
  text-align:center;
  width:100%;
}
/* End filters css */
